*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 15px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2); 
    --sidebar-side-padding: 2rem;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}


.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 100;
    cursor: pointer;
    --x-width: calc(var(--hamburger-height) * 1.4142135623731);
}

.hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu:has(input:focus-visible) {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}



.sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    /* padding: 0.5rem 1rem; */
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 2rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: 40rem;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    padding-right: var(--sidebar-side-padding);
    padding-left: var(--sidebar-side-padding);
    line-height: 4rem;
    z-index: 15;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.big-fancy-text,
.medium-fancy-text,
.small-fancy-text {
    font-family: 'Abril Fatface', cursive;
}



.big-fancy-text {
    font-size: 1.5rem;
}

.small-menu-text {
    font-size: 1.2rem;
    padding-left: 2em;
}

.title {
    font-size: 7rem;
    color: white;
    text-shadow: 0 0 5px black;
    z-index: 5;
}

section {
    font-size: 2rem;
    padding: 2rem;
    background-color: #333;
    color: white;
    /* z-index: 0; */
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    background: linear-gradient(180deg, rgba(199,240,232,1) 0%, rgba(158,209,217,1) 12%);
    z-index: -12px;

}

.paper-background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    background-image: url(paper-background/paper-background-2-mountains.png), url
}

.bottom-grass,
.mid-grass,
.top-grass,
.mountains {
    position: absolute; 
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0px -300px;
    z-index: -1;
}

.mountains {
    z-index: 1;
}

.top-grass {
    z-index: 2;
    filter:brightness(80%);
}

.mid-grass {
    z-index: 3;
    filter:brightness(95%);
}

.bottom-grass {
    z-index: 4;
    filter: brightness(120%);
}

